<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <table border="">
        <th>image</th>
        <th>name</th>
        <th>price</th>
        <th>status</th>
        <% result.forEach(function(user){ %>
        <tr>
            <td ><img src="<%= user.image%>" width="300" alt=""></td>
            <td><%= user.name%></td>
            <td>price <%= user.price%></td>
            <td> <%= user.status%></td>
           
        </tr>
        <% }); %>
      <tr>
        <td>
            <button><a href="user_order">order</a></button>
        </td>
      </tr>
    </table>
</body>
</html>